<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css" />
<h1>Contact Us</h1>
    <title>  </title>
  </head>
  <body>
    <p>Leave all your comments below in the message box! </p>
    <form id= "form" action="results" method="post">
      <div>
    <input name="name" placeHolder= "Full Name"></input>
      </div>
      <div>
    <input name="email" placeHolder= "E-mail"></input>
      </div>
    <div>
      <textarea name="message" placeHolder= "Message"></textarea>
    </div>
    <button name="sendButton">Send</button>
  </form>
  </body>
</html>
