
<!DOCTYPE HTML>
<html>
<head>
  <meta charset ="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <h1>
  <%=heading%>
  </h1>
</head>
<body>
  <div>
    <h2>Name:</h2>
    <p> <%=name%></p>
  </div>
<div>
  <h2>E-mail:</h2>
  <p> <%=email%></p>
</div>
<div >
    <h2>Message Sent: </h2>
    <p> <%=message%></p>
</div>

  <div>
<button><a href="./">send us more hate mail!</a></button>
  </div>
</body>
</html>
